:root {
    --creepyfont: 'Creepster', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homenav {
    background-image: url(/Images/woodnav.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
}



.title {
  font-family: 'Bahiana', sans-serif;
  font-size: 128px;
}

.title p {
    font-size: 200px;
}
